.row-height-side{
    height: 100%;
}
.margin-right-top{
    margin-right: 5px;
    margin-top: 5px;
}
.custom-bg-projects{
    background: #2196F3;
}
.custom-hover:hover{
    background: #BBDEFB;
}
. custom-margin-right{
    margin-right: 5px;
}

#exTab1 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

#exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
    border-radius: 0;
}

#after-request-p{
    color: green;
}
