.row-height-side{
    height: 100%;
}
.margin-right-top{
    margin-right: 5px;
    margin-top: 5px;
}
.custom-bg-projects{
    background: #2196F3;
}
.custom-hover:hover{
    background: #BBDEFB;
}
. custom-margin-right{
    margin-right: 5px;
}